.wr-encurte {
  background-image: url("../img/placeholder/background-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.wr-top5, .wr-hits {
  padding: 3em 0; }
  .wr-top5 .titulo, .wr-hits .titulo {
    color: #aa1423;
    text-transform: uppercase;
    text-align: center; }

.wr-top5 {
  background-color: #fff; }

.wr-hits {
  background-color: #eee;
  position: relative; }
  .wr-hits:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 2rem 2rem 0 2rem;
    border-color: #fff transparent transparent transparent;
    height: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0; }
