$font-primary: 'Roboto', 'Arial', 'sans-serif';
$font-secondary: 'Roboto Slab', 'Roboto', 'Arial', 'sans-serif';
$color-primary: #aa1423; 
$color-gray: #777; 
$color-lightgray: #eee;

$path-icon: '../img/icon';
$path-logo: '../img/logo';
$path-placeholder: '../img/placeholder';

$md-xs: 'max-width: 576px';
$md-sm: 'min-width: 576px';
$md-md: 'min-width: 768px';
$md-lg: 'min-width: 992px';
$md-xl: 'min-width: 1200px';