input[type='submit'], a {
	cursor: pointer;
	span {
		@include esconde-visualmente();
	}
}


.form-encurte {
	padding: 0 1rem;

	.span-encurtar {
		border-bottom: solid 3px $color-guide-orange;
		display: inline-block;
		margin-right: 2%;
		position: relative;
		width: 73%;
	}
	input, #btn-encurtar, #btn-encurtar:before {
		display: inline-block;
		padding:.75rem;
		vertical-align: bottom;
	}
	input[type='text'] {
		background-color: transparent;
		border: 0;
		color: $color-guide-orange;
		width: 100%;
		@include input-placeholder {
			color: $color-guide-orange;
		}
		&.fadetext {
			opacity: 0;
			@include animation (0, .75s, forwards, 1, fadetext);
		}
		&:focus {
			@include input-placeholder {
				color: transparent;
			}
		}
	}
	#btn-encurtar {
		background-color: $color-guide-orange;
		border: 0;
		color: $color-white;
		font-weight: bold;
		text-transform: uppercase;
		transition-delay: 0;
		transition-duration: 1s;
		transition-property: all;
		transition-timing-function: ease-in;
		width: 24%;
		&:focus {
			background-color: $color-guide-orange;
		}
		&:hover {
			background-color: darken($color-guide-orange, 10%);
		}
		&.is-copiar {
			color: transparent;
			position: relative;
			&:before {
				@include animation (0, .75s, forwards, 1, fadetext);
				bottom: 0;
				color: $color-white;
				content: "Copiar";
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	.form-group {
		position: relative;
	}
	.alert {
	    margin-top: 10px;
	    position: absolute;
	    transform: scaleY(0);
	    @include transform-origin(top);
	    width: 100%;
	    &.is-active {
	    	@include animation (.25s, 1s, forwards, 1, slidedown);
	    }	
	    span {
		    border-radius: 2px;
	    	display: block;
	    	padding: 1rem .5rem;
	    	a {
				font-weight: 700;
				text-decoration: underline;
	    	}
	    }
	}

}